services:
  app:
    build: .
    ports:
      - "8000:8000"
    environment:
      - REDIS_HOST=redis
      - REDIS_PORT=6379
      - DB_HOST=db
      - DB_PORT=5432
      - POSTGRES_DB=cache_aside_db
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=password
    volumes:
      - .:/app
    command: python app.py
  redis:
    image: redis:latest
    ports:
      - "6379:6379"
  db:
    image: postgres:13
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_DB=cache_aside_db
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=password
