node_modules
.next
npm-debug.log
yarn-error.log
pnpm-lock.yaml
coverage
.DS_Store
.idea
.vscode
*.local
.env*
.git
.gitignore
README.md
NOTICE_PENDING_SETUP.md
.hadolint.yaml
.prettierrc
jest.config.js
jest.setup.ts
tsconfig.tsbuildinfo
.eslintrc.json
