services:
  api:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: shortify_api
    environment:
      BASE_URL: http://localhost:8000
      REDIS_DB: 0
      REDIS_HOST: redis
      REDIS_PORT: 6379
    command: ["python", "-m", "app.main"]
    ports:
      - "8000:8000"
    restart: unless-stopped
    volumes:
      - ./backend/app:/app/app

  redis:
    image: redis:7-alpine
    container_name: shortify_redis
    healthcheck:
      test:
        - CMD
        - redis-cli
        - ping
      interval: 5s
      timeout: 3s
      retries: 5
    ports:
      - "6379:6379"
    restart: unless-stopped
